02_portfolio_rebalancing/workflow.json
{
  "name": "02_Portfolio_Rebalancing_Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Schedule (Mon 9AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// MOCK GOOGLE SHEET DATA\n// Replace this node with a 'Google Sheets' node in production\nreturn [\n  { json: { \"Ticker\": \"AAPL\", \"Target_Weight\": 0.4 } },\n  { json: { \"Ticker\": \"MSFT\", \"Target_Weight\": 0.3 } },\n  { json: { \"Ticker\": \"GOOGL\", \"Target_Weight\": 0.3 } }\n];"
      },
      "id": "mock-targets",
      "name": "Fetch Target Weights (Mock)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// MOCK BROKER API DATA\n// Replace this node with an 'HTTP Request' node fetching from your broker\nreturn [\n  { json: { \"ticker\": \"AAPL\", \"qty\": 10, \"price\": 175.0, \"value\": 1750.0 } },\n  { json: { \"ticker\": \"MSFT\", \"qty\": 5, \"price\": 320.0, \"value\": 1600.0 } },\n  { json: { \"ticker\": \"GOOGL\", \"qty\": 0, \"price\": 140.0, \"value\": 0.0 } },\n  { json: { \"cash_balance\": 5000.0 } }\n];"
      },
      "id": "mock-holdings",
      "name": "Fetch Current Holdings (Mock)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Data Streams",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "notes": "Waits for both Inputs"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Access data from previous nodes explicitly by name\ntargets = _(\"Fetch Target Weights (Mock)\").all()\nholdings = _(\"Fetch Current Holdings (Mock)\").all()\n\n# 1. Parse Inputs\ntarget_map = {item.json['Ticker']: item.json['Target_Weight'] for item in targets}\nholding_map = {item.json['ticker']: item.json for item in holdings if 'ticker' in item.json}\n\n# Get Cash (assuming it's in the holdings list or a separate field)\ncash = 5000.0 # Hardcoded for demo, normally extracted from broker response\n\n# 2. Calculate Total Portfolio Value\nholdings_value = sum(h['value'] for h in holding_map.values())\ntotal_portfolio_value = holdings_value + cash\n\nrebalancing_trades = []\n\n# 3. Calculate Deltas\nfor ticker, target_weight in target_map.items():\n    current_data = holding_map.get(ticker, {'qty': 0, 'value': 0, 'price': 150.0}) # Default price if not held\n    \n    target_value = total_portfolio_value * target_weight\n    current_value = current_data['value']\n    diff = target_value - current_value\n    price = current_data['price']\n    \n    # Only trade if diff is significant (>$100 buffer)\n    if abs(diff) > 100:\n        qty = int(diff / price)\n        if qty != 0:\n            action = \"BUY\" if qty > 0 else \"SELL\"\n            rebalancing_trades.append({\n                \"ticker\": ticker,\n                \"action\": action,\n                \"quantity\": abs(qty),\n                \"price\": price,\n                \"est_total\": abs(qty * price)\n            })\n\nreturn [{\"json\": trade} for trade in rebalancing_trades]"
      },
      "id": "python-rebalance",
      "name": "Python Logic (Calculate Delta)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "channel": "finance-alerts",
        "text": "={{ $json.action }} ALERT: {{ $json.quantity }} shares of {{ $json.ticker }}",
        "otherOptions": {
          "icon_emoji": "scales"
        },
        "attachments": [
          {
            "color": "={{ $json.action == 'BUY' ? '#36a64f' : '#ff0000' }}",
            "title": "Rebalancing Order Required",
            "fields": [
              {
                "title": "Ticker",
                "value": "{{ $json.ticker }}",
                "short": true
              },
              {
                "title": "Action",
                "value": "{{ $json.action }}",
                "short": true
              },
              {
                "title": "Quantity",
                "value": "{{ $json.quantity }}",
                "short": true
              },
              {
                "title": "Est. Value",
                "value": "${{ $json.est_total }}",
                "short": true
              }
            ]
          }
        ]
      },
      "id": "slack-alert",
      "name": "Slack (Approval Request)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_ID",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Weekly Schedule (Mon 9AM)": {
      "main": [
        [
          {
            "node": "Fetch Target Weights (Mock)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Current Holdings (Mock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Target Weights (Mock)": {
      "main": [
        [
          {
            "node": "Merge Data Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Current Holdings (Mock)": {
      "main": [
        [
          {
            "node": "Merge Data Streams",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data Streams": {
      "main": [
        [
          {
            "node": "Python Logic (Calculate Delta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Python Logic (Calculate Delta)": {
      "main": [
        [
          {
            "node": "Slack (Approval Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}